/* webpage css */
.webpage {
  background-color: rgb(46, 46, 201);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webpage-p {
  display: flex;
  color: white;
  font-weight: 100;
  font-size: 1rem;
  text-decoration: wavy;
  margin: 0px;
  text-indent: 100px;
}

.web-h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
  font-weight: 100;
  font-size: 3rem;
}

/* loginpage css */
.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-p {
  margin: 0;
  padding: 3px;
}

.or {
  margin: 4px;
  text-align: center;
}

.symbols {
  display: flex;
  justify-content: space-evenly;
}

.signup {
  font-size: 0.9rem;
  text-align: center;
}

.log-input {
  width: 250px;
  padding: 10px;
}

.log-button {
  width: 274px;
  padding: 10px;
  background-color: blue;
  color: white;
}

.log-img {
  width: 30px;
}

/* authentication page */
.authentication-p {
  opacity: 75%;
}
.auth-button {
  color: white;
  width: 200px;
  height: 40px;
  background-color: blue;
  border: none;
  border-radius: 4px;
}
.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
}
.otpbox {
  margin-top: 120px;
}
.auth-span {
  color: rgb(214, 166, 6);
}
.inp {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  font-size: 1.4rem;
  text-align: center;
}

/* KYC verification */
 .KYC-body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;

    }

    .page {
      display: flex;
    }

    .sticker {
      background-color: rgb(193, 223, 226);
      width: fit-content;
      padding: 10px;
      border-radius: 13px;
      margin-bottom: 5px;
      margin-top: 5px;
      height: 40;
    }

    .navigation {
      width: 37%;
      height: 100vh;
      background-color: #033fb9;
      color: white;
      font-size: 1.1rem;


    }

    .circle {
      border-radius: 50%;
      border-color: white;
      border-style: solid;
      border-width: 2px;
      height: 25px;
      width: 25px;
      background-color: white;
    }
    #circle1{
    margin-top: 35px;
}
    .dline {
      border-left: 2px solid white;
      height: 90px;
      margin-left: 14px;
      border-style: dashed;
      border-right: none;
      border-bottom: none;
      border-top: none;
      width: 20px;
    }

    .nav-element {
      margin-left: 40px;
      display: flex;

    }

    .kycpage {
      float: right;
      width: 63%;
    }

    .form {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 70px;
      margin-right: 70px;
    }

    .section {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;


    }

    .section2 {
      color: black;
    }

    .fieldset {
      padding: 0;
      margin: 0;
      border-radius: 13px;
      border-width: 4px;
      display: flex;

    }

   #sec2-fieldset{
    width:230px;
  }

    .KYC-legend {
      font-size: 0.9rem;
    }

    .input {
      border: none;
      padding: 5px;
      width: 280px;
      border-width: 2px;
      font-size: 1rem;
    }

    .input:focus,
    .select1:focus,
    .select2:focus {
      outline: none;
    }
    #name-inpt{
     height: 32px; 
    } 

    .select1 {
      border: none;
      border-radius: 13px;
      height: 40px;
      width: 290px;
      border-width: 2px;
      font-size: 1rem;

    }

    .select2 {
      border: none;
      border-radius: 13px;
      height: 40px;
      width: 290px;
      border-width: 2px;
      font-size: 1rem;
    }

    .KYC-button{
      color: white;
      width: 200px;
      height: 40px;
      background-color:blue;
      border: none;
      border-radius: 13px;
      font-size: 1.2rem;
    }

    .icon {
      font-size: 1.2rem;
      color: white;
      margin: 0;
    }

    .KYC-p {
      margin-top: 30px;
      margin-left: 20px;
      color: rgb(250, 248, 248);
      opacity: none;
    }

    #element1 {
      margin-top: 5px;
      padding: 7px;
      margin-left: 8px;
      border-radius: 15px;
      background-color: #0b50da;
      height: 80px;
      display: flex;
    }

    #element2 {
      margin-top: 25px;
      padding: 7px;
      margin-left: 8px;
      border-radius: 15px;
      background-color: #0b50da;
      height: 80px;
      opacity: 50%;
    }

    .info {
      margin: 12px;
      float: right;
      margin-left: 5px;

    }

    .details {
      font-size: 0.7rem;
      padding-left: 5px;
      margin: 10px;
      width: fit-content;
    }
    .KYC-hr{
      height: 3px;
       background-color: black; 
       opacity: 20%;
    }
  #user-icon{
font-size: 25px;
 padding: 8px;
    }
    #doc {
  font-size: 25px;
  padding: 8px;
    }
